body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3caca;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #dfd2d2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.weather-info {
    margin-top: 20px;
}

.weather-info-item {
    margin-bottom: 10px;
}

.weather-info-item label {
    font-weight: bold;
}

.weather-info-item span {
    margin-left: 10px;
}

.temperature {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sunrise,
.sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.temp-space {
    word-spacing: 0.2em;
}

#currenttemperature,
#currentdate,
#currenttime,
#currentshowers,
#currentrain {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style for the back to main page button */
#backToMainButton {
    background-color: #1b1f22; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#backToMainButton:hover {
    background-color: #747c85; /* Darker shade of blue on hover */
}

/* Style for the view details button */
#viewButton {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#viewButton:hover {
    background-color: #218838; /* Darker shade of green on hover */
}
